<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
     
    
<configuration>
    <typeHandlers>
        <typeHandler jdbcType="CLOB" javaType="java.lang.String" handler="org.apache.ibatis.type.ClobTypeHandler"/>
    </typeHandlers>

	<plugins>
	    <plugin interceptor="com.nextransfer.util.UpdateInterceptor"/>
	</plugins>
	
    <mappers>
        <mapper resource="com/nextransfer/myBatis/nextransfer.xml" />
        <mapper resource="com/nextransfer/myBatis/common.xml" /> 
    </mappers>  
	
</configuration>