@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

/* Variables
------------------------------------------------------------------
{
  Color: [
    {
      value: 'v1',
      sample: '#ae4340',
      NormalColor: '#af4340',
      HoverColor: '#8f3734',
	  HeaderBannerGradient: '0deg, rgba(215,146,81,0.851) 0%, rgba(215,98,35,0.851) 50%, rgba(192,63,85,0.851) 100%',
	  NormalBtn: '#ae4340',
	  HoverBtn: '#c64d4a',
	  TextHighlightNormal: '#ae4340',
	  BorderHighlightNormal: '#993333',
	  BtnHighlightHover: '#ae4340',
	  BorderHighlightHover: '#ae4340'
    },
    {
      value: 'v2',
      sample: '#a38497',
      NormalColor: '#a38497',
      HoverColor: '#8b7081',
	  HeaderBannerGradient: '0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%',
	  NormalBtn: '#a38497',
	  HoverBtn: '#b998ac',
	  TextHighlightNormal: '#a38497',
	  BorderHighlightNormal: '#a38497',
	  BtnHighlightHover: '#b998ac',
	  BorderHighlightHover: '#b998ac'
    },
    {
      value: 'v3',
      sample: '#20639c',
      NormalColor: '#20639c',
      HoverColor: '#1a5180',
	  HeaderBannerGradient: '0deg, rgba(215,98,35,0.75) 0%, rgba(81,160,131,0.75) 0%, rgba(32,99,156,0.75) 100%',
	  NormalBtn: '#20639c',
	  HoverBtn: '#2573b4',
	  TextHighlightNormal: '#20639c',
	  BorderHighlightNormal: '#20639c',
	  BtnHighlightHover: '#2573b4',
	  BorderHighlightHover: '#2573b4'	  
    },
    {
      value: 'v4',
      sample: '#cca744',
      NormalColor: '#cca744',
      HoverColor: '#b5943d',
  	  HeaderBannerGradient: '0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%',
	  NormalBtn: '#cca744',
	  HoverBtn: '#dcb54e',
	  TextHighlightNormal: '#cca744',
	  BorderHighlightNormal: '#cca744',
	  BtnHighlightHover: '#dcb54e',
	  BorderHighlightHover: '#dcb54e'	  
    }
  ]
}
------------------------------------------------------------------
*/

@font-face {
  font-family: 'Futura';
  src: url('Futura-Medium.eot'); /* IE9 Compat Modes */
  src: url('Futura-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Futura-Medium.woff') format('woff'), /* Modern Browsers */
       url('Futura-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Futura-Medium.svg#6e1e5153b1feaeba3722775467f6cd3b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, 
fieldset, input {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

a {
	text-decoration: none;
}

/* General Styling and Structure
--------------------------------------------------------------------------------*/

html {
  width: 100%;
  height:100%;
}

body {
	font-family: 'Oxygen', sans-serif;
	font-weight:400;
	font-size: 18px;
	line-height: 1.2;
	color: #999;
	background: #fff;
  height:100%;
  padding: 0 !important;
/*  overflow-x: hidden; */
  -webkit-font-smoothing:antialiased;
  -webkit-overflow-scrolling: touch;
}

body, body.landing-page {
  overflow-x: hidden; 
}

.open {
  overflow: hidden;
}

.page-container {
  box-sizing: border-box;
	display: block;
	background:#e6e6e6;
  height:100%;
	/*overflow-x: hidden;*/
	position:relative;
}

.page-sidebar-wrapper {
  position: fixed;
  right: 0;
  top: 0;
	z-index:2;
	display: block;
	height: 100%;
	background: #212121;
  padding-top: 37px;
	z-index:1;
	vertical-align: top;
  box-sizing: border-box;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.postload .page-sidebar-wrapper {
  right: -267px;
}

.nav-trigger:checked ~ .page-sidebar-wrapper {
  right: 0;
}

.page-content-wrapper {
  position: relative;
  display: block;
  position: relative;
  top: 0;
  right: 0;
	z-index:3;
	background: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.page-content {
  margin-top: 0;
	text-align:center;
	min-height:100%;
}

.page-sidebar {
	color:#fff;
	width: 267px;
	height: 100%;
	background: $Sidebar;
	position:relative;
	/*overflow:hidden;*/
}

.page-sidebar * {
  z-index: 1;
}

.nav-trigger {
    position: absolute;
    display: none;
}

.nav-trigger:checked ~ .page-content-wrapper {
	right: 267px;
}

#close-nav {
	display: block;
	width:28px;
	height:28px;
	z-index:10px;
	z-index:20;
	left:225px;
}

#close-nav label {
	display:block;
	position:absolute;
	width:28px;
	height:28px;
	top:0px;
	right:10px;
	background: url(menu-slideout-close-bg.png) no-repeat center center;
	cursor:pointer;
	background-size: 100% 100%;
}

.container-box {
  box-sizing: border-box;
  padding: 0 2em;
	margin: 0 auto;
	width: 100%;
	max-width: 1100px;
}

#header-wrap,
#banner-wrap,
#nav-wrap,
#main-wrap,
#footer-wrap
{
	width:100%;
}

a {
	color: $NormalColor;
}

a:hover {
	color: $HoverColor;
}

h1 {
	font-size: 1.8em;
	padding: 0 0 .5em 0;
	line-height: 1.2;
	color: #333333;
}

h2 {
	font-size: 2em;
	margin: 0 0 .5em;
	line-height: 1.2;
	color: #333333;
}

h3 {
	font-size: 1.11em;
	padding: 0 0 .5em 0;
	line-height: 1.2;
	color: #333333;
}

p {
	font-size: ;
	line-height: 1.5;
	padding: 0 0 .5em;
}

blockquote {
	background: ;
	font-family: 'Oxygen', sans-serif;
	font-size: 1em !important;
	line-height: 1.5 !important;
	color: ;
	padding: 0 10px !important;
	margin: 1em 0em 1em 1em !important;
	border-left: 3px solid $NormalColor !important;
}

div#content {min-height:400px;}

/* Header
--------------------------------------------------------------------------------*/

#header-wrap {
	padding: 30px 0px 0;
	position:relative;
	z-index:3;
}

#logo a {
	color:#fff;
	font-size:1.75em;
	line-height: 1;
	font-family: 'Rochester', cursive;
}

#logo a:hover {}

.wsite-logo a img {
    margin-top: 0 !important;
	margin-left: 0 !important;
}

#header {
	border-collapse: collapse;
	border-spacing: 0;
    width:100%;
    height: ;
}

#header td {
	vertical-align: middle;
	text-align: left;
}

#logo * {
  line-height: 1 !important;
  max-height: 40px;
}

#wsite-title {
  display: block;
  height: 30px;
}

#nav-handle {
	width:13px;
}

#header label[for="nav-trigger"] {
  width: 75px;
  height: 14px;
  text-align: right;  
  display: block;
}

#header label[for="nav-trigger"]:after {
  content: '';
	width:13px;
	height:14px;
	background: url(nav-handle.png) no-repeat center center;
	background-size: 100% auto;
	cursor:pointer;
	display:block;
	line-height: 1 !important;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  background-size: contain;
}

#header label[for="nav-trigger"] span {
	color:#fff;
	text-transform:uppercase;
	font-size: 14px;
	line-height: .95 !important;
  display: inline-block;
  vertical-align: top;
}

#header-right {}

#header-right table {
	float: right;
	width: 1px;
}

#header-right td {
	padding: 0;
}

/* Header: Phone Number
--------------------------------------------------------------------------------*/

#header-right .phone-number .wsite-text {
	color: ;
	font-size: ;
	font-weight: ;
	font-family: ;
	text-decoration: ;
	display: block;
	white-space: nowrap;
	margin: ;
}

#header-right .phone-number .wsite-text a {}
#header-right .phone-number .wsite-text a:hover {}

/* Header: Social Links
--------------------------------------------------------------------------------*/

.page-sidebar .social {
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

.wsite-social {
	vertical-align: middle;
	margin: ;
}

.wsite-social-item, #wsite-com-product-social-sharing a, .wsite-elements .wsite-social-item.first-child {
	width: 36px;
	height: 36px;
	margin: 0 3px 7px !important;
	background:  !important;
}

.wsite-social-rss, .wsite-com-product-social-rss { background: url(social-icons.png) no-repeat -252px 0px; }
.wsite-social-rss:hover, .wsite-com-product-social-rss:hover { background: url(social-icons.png) no-repeat -252px -36px !important; }

.wsite-social-linkedin, .wsite-com-product-social-linkedin { background: url(social-icons.png) no-repeat -108px 0px; }
.wsite-social-linkedin:hover, .wsite-com-product-social-linkedin:hover { background: url(social-icons.png) no-repeat -108px -36px !important; }

.wsite-social-facebook, .wsite-com-product-social-facebook { background: url(social-icons.png) no-repeat -36px 0px; }
.wsite-social-facebook:hover, .wsite-com-product-social-facebook:hover { background: url(social-icons.png) no-repeat -36px -36px !important; }

.wsite-social-twitter, .wsite-com-product-social-twitter { background:url(social-icons.png) no-repeat 0px 0px; }
.wsite-social-twitter:hover, .wsite-com-product-social-twitter:hover { background: url(social-icons.png) no-repeat 0px -36px !important; }

.wsite-social-mail, .wsite-com-product-social-mail { background: url(social-icons.png) no-repeat -144px 0px; }
.wsite-social-mail:hover, .wsite-com-product-social-mail:hover { background: url(social-icons.png) no-repeat -144px -36px !important; }

.wsite-social-pinterest, .wsite-com-product-social-pinterest { background: url(social-icons.png) no-repeat -216px 0px; }
.wsite-social-pinterest:hover, .wsite-com-product-social-pinterest:hover { background: url(social-icons.png) no-repeat -216px -36px !important; }

.wsite-social-youtube, .wsite-com-product-social-youtube { background: url(social-icons.png) no-repeat -360px 0px; }
.wsite-social-youtube:hover, .wsite-com-product-social-youtube:hover { background: url(social-icons.png) no-repeat -360px -36px !important; }

.wsite-social-plus, .wsite-com-product-social-plus { background: url(social-icons.png) no-repeat -72px 0px; }
.wsite-social-plus:hover, .wsite-com-product-social-plus:hover { background: url(social-icons.png) no-repeat -72px -36px !important; }

.wsite-social-flickr, .wsite-com-product-social-flickr { background: url(social-icons.png) no-repeat -180px 0px; }
.wsite-social-flickr:hover, .wsite-com-product-social-flickr:hover { background: url(social-icons.png) no-repeat -180px -36px !important; }

.wsite-social-vimeo, .wsite-com-product-social-vimeo { background: url(social-icons.png) no-repeat -288px 0px; }
.wsite-social-vimeo:hover, .wsite-com-product-social-vimeo:hover { background: url(social-icons.png) no-repeat -288px -36px !important; }

.wsite-social-yahoo, .wsite-com-product-social-yahoo { background: url(social-icons.png) no-repeat -324px 0px; }
.wsite-social-yahoo:hover, .wsite-com-product-social-yahoo:hover { background: url(social-icons.png) no-repeat -324px -36px !important; }

/* Header: Search Box
--------------------------------------------------------------------------------*/

#header-right .search {}

#header-right .wsite-search {
	margin: ;
	vertical-align: middle;
}

#header-right .wsite-search-input {
	width: ;
	height: ;
	border: ;
	padding: ;
	font-family: ;
	color: ;
	font-size: ;
	background: ;
}

#header-right .wsite-search-button {
	position: relative;
	width: ;
	height: ;
	color: ;
	font-size: ;
	border: ;
	margin:  ;
	padding: ;
	background: ;
}

/* Navigation
--------------------------------------------------------------------------------*/

#nav-wrap .container-box {
	clear: both;
	overflow: hidden;
	position: relative;
}

.nav {
  padding: 0 30px 0 24px;
	max-height: 82%;
	overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.nav ul {
	list-style: none;
	float: ;
}

.nav ul li {
	list-style: none;
	float: ;
	background: ;
}

.nav ul span:last-child li,
.nav ul > li:last-child {
	background: none;
}

.nav ul li a {
	float: ;
	display: inline-block;
	font-family: 'Oxygen', sans-serif;
	color: #999;
	text-decoration: ;
	padding: ;
	border: 0;
	outline: 0;
	font-weight:400;
	list-style-type: none;
	font-size: 15px;
	line-height:30px;
	text-transform:uppercase;
}

.nav ul li#active a,
.nav ul li a:hover {
	color: #fff;
	background: ;
	border: 0;
}

.postload #navhidden li {
  display: none !important;
}

.postload #navhidden li.wsite-nav-cart {
  display: block !important;
}

.postload #nav {
  position: absolute;
  height: 100%;
  padding: 0 30px 0 24px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 0;
}

.wsite-social, .wsite-editor .wsite-social {
  white-space: normal;
}

/* Navigation Submenu's
--------------------------------------------------------------------------------*/

#wsite-menus .wsite-menu li a {
	font-family: 'Oxygen', sans-serif;
	font-size: 15px;
	line-height:30px;
	padding: ;
	color: #666;
	background:#212121 ;
	border: 0;
	text-transform:uppercase;
}

#wsite-menus .wsite-menu li a span {
	padding: 0px 10px;
}

#wsite-menus .wsite-menu li a:hover {
	color: #666;
	background: #212121;
}

/* Navigation Submenu's - Mobile
--------------------------------------------------------------------------------*/

.postload #wsite-menus .wsite-menu {
	-webkit-border-radius: 0 5px 5px 0; 
	-moz-border-radius: 0 5px 5px 0; 
	border-radius: 0 5px 5px 0;
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,.27); 
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,.27); 
	box-shadow: 1px 2px 2px rgba(0,0,0,.27);
}

.postload #wsite-menus .wsite-menu li a {
	color: #fff;
	padding: 15px 0px 15px 35px;
	border: 0;
	outline: 0;
	list-style-type: none;
	font-size: 1.2em;
}

.postload .wsite-mobile-menu {
  display: block;
}

.postload #wsite-menus .wsite-menu li a:hover {
	background: $BtnNormal;
	text-decoration:none;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.postload .wsite-menu-title, .postload .wsite-menu-back {
  display: inline-block !important;
}

.postload .wsite-menu-arrow {
  display: none !important;
}

.postload .wsite-menu-mobile-arrow {
  display: inline-block !important;
  font-size: inherit !important;
  padding: 0 5px;
}

.postload .wsite-menu-mobile-arrow:before {
  display: inline-block;
  content: '\203A';
  vertical-align: bottom;
  font-weight: bold;
}

.postload .wsite-menu-back-item {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.postload .nav ul li.wsite-menu-back-item a {
  opacity: 1 !important;
  font-weight: 700;
  color: #fff;
  background: $HeaderBg !important;
  cursor: pointer;
}


.postload .wsite-menu-back-item .wsite-menu-mobile-arrow:before {
  content: '\2039' !important;
}



/* Universal banner
--------------------------------------------------------------------------------*/
#banner-wrap { 
	height:100%;
	position:relative;
  margin-top: -64px;
  padding-top: 65px;
  box-sizing: border-box;
}
#banner {
	text-align:left;
	height:100%;
	display: table-cell;
	vertical-align:middle;
}

#banner-wrap .container-box { 
	display: table;
	width: 100%;
    height: 100%;
    vertical-align: middle;
}

#banner h2 {
	font-family: 'Futura';
	color:#fff;
	font-weight: 500;
	font-size: 1.8em;
	text-transform:uppercase;
}

#banner p {
	font-family: 'Futura';
	color:#fff;
}

#banner .wsite-button {
	background:rgba(255,255,255,0) !important;
	color:#fff !important;
	font-size:.8em !important;
	padding: .85em 1.8em;
	border:2px solid #fff;
}

#banner .wsite-button:hover {
	background: rgba(255, 255, 255, 0.349) !important;
}

#banner .wsite-button:active {
	background: rgba(255, 255, 255, 0.349) !important;
}

#banner .wsite-button-large {
	text-transform:uppercase;
	color:#fff !important;
	font-size:.8em !important;
	font-size: 1em !important;
	border:none;
	border:2px solid #fff;
	text-decoration:none ;
}

#banner .wsite-button-large {
	height: auto;
	line-height: 1;
	background: none !important;
}

#banner .wsite-button-large:hover, #banner .wsite-button-large:active .wsite-button-inner {
	background: rgba(255, 255, 255, 0.349) !important;
}

/* Highlighted styles */

#banner .wsite-button-highlight {
	background: none;
	border:none !important;
}

#banner .wsite-button-highlight  {
	background: #fff !important;
	border:none !important;
	color: $NormalColor !important;
	font-family:'Oxygen', sans-serif;
	font-size:.75em ;
	font-weight:400 ;
	text-decoration:none ;
}
#banner .wsite-button-highlight:hover, #banner .wsite-button-highlight:active .wsite-button-inner {
	background: rgba(255, 255, 255, 0.651) !important;
	border:none !important;
	color:$NormalColor !important;
}

#banner.wsite-button-large.wsite-button-highlight {
 	background:none;
}



/* Page type: Tall header
--------------------------------------------------------------------------------*/
.tall-header-page #header-banner {
	width: 100%;
	height: 499px;
	background: url(banner-tall.jpg) no-repeat;
	background-size: cover;
	color#fff;
}

.tall-header-page #header-banner-wrap { 
	height: 499px;
	background-image: linear-gradient( $HeaderBannerGradient);
	background-image: -moz-linear-gradient( $HeaderBannerGradient);
    background-image: -webkit-linear-gradient( $HeaderBannerGradient);
    background-image: -ms-linear-gradient( $HeaderBannerGradient);
}
.tall-header-page #banner {}

.tall-header-page #banner h2 {
	font-family: 'Futura';
  font-size: 3em;
	line-height:1;
}

.tall-header-page .wsite-header {
	width: ;
	height: ;
	background: url(banner-tall.jpg) no-repeat;
}

/* Page type: Short header
--------------------------------------------------------------------------------*/
.short-header-page #header-banner {
	width: 100%;
	height: 250px;
	background: url(banner-short.jpg) no-repeat;
	background-size: cover;
	color#fff;
}

.short-header-page #header-banner-wrap { 
	height: 250px;
	background-image: linear-gradient( $HeaderBannerGradient);
	background-image: -moz-linear-gradient( $HeaderBannerGradient);
    background-image: -webkit-linear-gradient( $HeaderBannerGradient);
    background-image: -ms-linear-gradient( $HeaderBannerGradient);
}
.short-header-page #banner {}

.short-header-page #banner h2 {
	font-family: 'Futura';
    font-size: 1.6em;
}

.short-header-page .wsite-header {
	width: ;
	height: ;
	background: url(banner-short.jpg) no-repeat;
}

/* Page type: No header
--------------------------------------------------------------------------------*/
.no-header-page #header-banner {
	width: 100%;
	background: url(banner-short.jpg) no-repeat;
	background-size: cover;
	color#fff;
}

.no-header-page #header-banner-wrap { 
	background-image: linear-gradient( $HeaderBannerGradient);
	background-image: -moz-linear-gradient( $HeaderBannerGradient);
    background-image: -webkit-linear-gradient( $HeaderBannerGradient);
    background-image: -ms-linear-gradient( $HeaderBannerGradient);
}

.no-header-page #header-wrap {
  padding-bottom: 30px;
}

.no-header-page .wsite-header, .no-header-page #banner-wrap  {
        display:none;
}

/* Page type: Landing page
--------------------------------------------------------------------------------*/

.landing-page, .landing-page .page-container, .landing-page .page-content, .landing-page .page-content-wrapper {
  height: 100% !important;
}

.landing-page #header-banner {
	width: 100%;
	height: 100%;
  max-height: 2000px;
	background: url(landing-banner-bg.jpg) no-repeat center center;
	background-size: cover;
	color#fff;
}

.landing-page #header-banner-wrap { 
	height: 100%;
	background-image: linear-gradient( $HeaderBannerGradient);
	background-image: -moz-linear-gradient( $HeaderBannerGradient);
    background-image: -webkit-linear-gradient( $HeaderBannerGradient);
    background-image: -ms-linear-gradient( $HeaderBannerGradient);
}
.landing-page #banner {
	background: none;
	padding: 0;
}

.landing-page #banner h2 {
	font-family: 'Futura';
	font-size:3em;
	line-height:1.15;
}

#bannerleft {
	float: ;
	width: ;
}

.landing-page .wsite-header {
	width: ;
	height: ;
	background: url(banner-landing.jpg) no-repeat;
}

.landing-banner-outer {
	display: table;
	#position: relative;
	overflow: hidden;
}

.landing-banner-mid {
	#position: absolute;
	#top: 50%;
	display: table-cell;
	vertical-align: middle;
}

.landing-banner-inner {
	#position: relative;
	#top: -50%;
}

#bannerright {
	float: ;
	width: ;
	padding: ;
}

#bannerright h2 {
	font-family: 'Futura';
	color: ;
	font-size: ;
	font-family: ;
	padding: 0px;
}

#bannerright p {
	font-family: 'Futura';
	color: ;
	font-size: ;
	padding: 20px 0;
}

.landing-page.scrolled #header-banner {
  max-height: 500px;
}

.landing-page #header-banner, .landing-page #header-banner-wrap {
  -webkit-transition: all 600ms linear !important;
  -moz-transition: all 600ms linear !important;
  -o-transition: all 600ms linear !important;
  -ms-transition: all 600ms linear !important;
  transition: all 600ms linear !important;  
}

.landing-page #landing-scroll {
  position: absolute;
  display: block;
  bottom: 8%;
  left: 50%;
  width: 44px;
  height: 44px;
  margin-left: -24px !important;
  background: url(scroll.png) no-repeat center center;
  opacity: 0;
  z-index: 11;
  cursor: pointer;
  -webkit-transition: all 800ms ease-in !important;
      -moz-transition: all 800ms ease-in !important;
      -o-transition: all 800ms ease-in !important;
      -ms-transition: all 800ms ease-in !important;
      transition: all 800ms ease-in !important;  
}

.landing-page #landing-scroll.loaded {
  opacity: 1;
  bottom: 5%;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -moz-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -o-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -ms-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;  
}

.landing-page.scrolled #landing-scroll {
  bottom: -100px !important;
  opacity: 0 !important;
}


/* Main Content
--------------------------------------------------------------------------------*/
#main-wrap {
	margin: 3.25em 0;
}

#main-wrap .container-box {
	min-height:100px;
}

#main-wrap .container-box h2 {}
#main-wrap .container-box p {}
#main-wrap .container-box a {}
#main-wrap .container-box blockquote {}

#main-wrap .paragraph ul, #main-wrap .paragraph ol {
  padding-left: 1.2em !important;
}

div.paragraph li {
  padding: 0 !important;
}

/* Store
--------------------------------------------------------------------------------*/

#wsite-com-product-info.wsite-com-product-info-with-images {
    text-align: left;
}

#wsite-com-product-images {
  width: 55%;
}

#wsite-com-product-info.wsite-com-product-info-with-images {
  margin-left: 65%;
}


.wsite-com-category-subcategory-group + div {
  margin-bottom: 2em !important;
}

.wsite-com-category-subcategory-name-bg {
  background: #000;
  opacity: .3;
  -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;  
}

.wsite-com-category-subcategory-link:hover .wsite-com-category-subcategory-name-bg {
  opacity: 0;
}

#wsite-com-category-product-group a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.wsite-com-category-subcategory-image {
  min-width: 110% !important;
  min-height: 100% !important;
  left: -5% !important;
  -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;  
}

.wsite-com-category-subcategory-link:hover .wsite-com-category-subcategory-image {
  left: 0% !important;
}

.wsite-com-category-product-image-wrap, .wsite-com-category-product-featured-image-wrap, .wsite-com-category-subcategory-image-wrap {
  border: none !important;
}

.wsite-com-category-subcategory-name-text {
  font-family: 'Futura';
  text-transform: uppercase;
  text-shadow: none;
  vertical-align: middle;
  display: inline-block;
  font-size: 1.75em;
}

.wsite-com-category-subcategory-name::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.wsite-com-category-subcategory-name {
  text-align: center;
  height: 100%;
  width: 100%;
  display: inline-block;
  -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;  
}

.wsite-com-category-product-name {
  font-family: 'Oxygen', sans-serif;
	font-size: .9em;
  font-weight: 700;
	letter-spacing:0.5px;
	margin-bottom:10px;
}

.wsite-com-product-price {
	font-family: 'Oxygen', sans-serif;
	font-size: .75em;
    font-weight: 400;
	letter-spacing:0.5px;
}

.wsite-com-product-label {
  margin-bottom: 0 !important;
}

.wsite-com-product-label, .wsite-com-product-label ~ *, .wsite-com-product-label ~ .wsite-form-input, .wsite-com-product-label ~ .jqTransformSelectWrapper {
  display: inline-block;
  width: 49% !important;
  vertical-align: middle;
}

.wsite-com-product-label ~ .wsite-com-product-option-label {
  clear: right;
  float: right;
  margin: 0 0 5px;
}

.wsite-com-product-title {
  font-size: .8em !important;
  text-transform: uppercase;
}

.wsite-com-product-option:after {
  content: '';
  clear: right;
  display: block;
}

#wsite-com-product-title {
	font-family: 'Oxygen', sans-serif;
	font-size: 2em;
  font-weight: 700;
	margin-bottom:10px;
}

#wsite-com-product-quantity-input {
  margin-right: 0 !important;
}

#wsite-com-product-price-area {
	font-family: 'Oxygen', sans-serif;
  font-size: 1.4em;
    font-weight: 700;
	color:717171;
	border-bottom: none;
	padding-bottom: 0 !important;
}

#wsite-com-product-short-description {
  font-size: .8em !important;
}

#wsite-com-product-list #wsite-com-title {
  border-bottom: 1px solid #ced0d2;  
  padding-bottom: .25em;
  margin-bottom: 1em;
}

#wsite-com-product-social-sharing {
  border-top: 1px solid #ced0d2;  
  padding: 15px 0;
}

#wsite-com-product-options {
    border-top: 1px solid #ced0d2;
    margin-top: 0;
}

.wsite-com-product-option {
    border-bottom: 1px solid #ced0d2;
	padding-bottom: 15px;
}

#wsite-com-product-inventory {
    border-bottom: 1px solid #ced0d2;
    padding-bottom: 15px;
}

#wsite-com-product-options .jqTransformSelectWrapper {
	margin-bottom:0px;
  z-index: inherit !important;
}

#wsite-com-product-buy {
    padding-top: 35px;
}

#wsite-com-product-add-to-cart {
    width: 100%;
}


#wsite-com-product-add-to-cart .wsite-button-inner {
	text-align:center;
	width:100%;
	box-sizing: border-box;
}

.wsite-com-product-option-color .wsite-com-product-option-color-container {
  border-radius: 40px;
  box-shadow: none;
  outline: none;
}

.wsite-com-product-option-color .wsite-com-product-option-color-swatch {
  border-radius: 40px;
  border: 4px solid #fff;
  box-shadow: none;
  outline: none;
}

.wsite-com-product-option-color .wsite-selected {
  border: 4px solid #ced0d2;
}

.wsite-com-product-option-radio .wsite-com-product-option-label-unavailable .wsite-com-product-option-radio-availability {
  font-size: 80%;
}

/* Cart
--------------------------------------------------------------------------------*/

.postload #wsite-mini-cart  {
  left: auto !important;
  right: 1px !important;
  margin-top: 10px;
}

.postload.open #wsite-mini-cart  {
  right: 267px !important;
  margin-top: -30px;
}

.postload #wsite-mini-cart:before, .postload #wsite-mini-cart:after {
  display: none !important;
}

.wsite-menu-default {
  padding: 0;
  margin: 0;
}

/* Checkout */

#wsite-com-checkout-list tbody td:nth-child(even) {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

#wsite-com-checkout-list .wsite-remove-button, #wsite-com-checkout-summary-list .wsite-remove-button {
  left: auto !important;
  margin-left: 0  !important;
}

.wsite-com-continue-shopping:hover, .wsite-com-continue-shopping:active {
  text-decoration: none;
}

.wsite-com-continue-shopping .caret {
  line-height: 1.75 !important;
}

/* Gallery
--------------------------------------------------------------------------------*/
.galleryCaptionHolderInnerBg {
    opacity: 0.6;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
        -moz-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
        -o-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
        -ms-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
        transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;  
}


.galleryImageHolder:hover .galleryCaptionHolderInnerBg {
    opacity: 0.2;
}

.imageGallery .galleryCaptionInnerText p, .imageGallery .galleryCaptionInnerText {
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 1.25;
    padding-top: 30px;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
        -moz-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
        -o-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
        -ms-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
        transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;  
}

.galleryImageHolder:hover .galleryCaptionInnerText p, .galleryImageHolder:hover .galleryCaptionInnerText, .galleryCaptionsVisible .galleryCaptionInnerText {
  padding-top: 0;
}

.galleryCaptionHover .galleryCaptionHolder {
  opacity: 1;
}

.galleryCaptionHover .galleryCaptionHolderInnerBg {
  opacity: .4;
}

.galleryCaptionHover .galleryCaptionInnerTextHolder {
  opacity: 0;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -moz-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -o-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -ms-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;  
}

.galleryCaptionHover.galleryImageHolder:hover .galleryCaptionInnerTextHolder {
  opacity: 1;
}

.galleryInnerImageHolder img {
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -moz-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -o-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -ms-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;  
}

.galleryImageHolder:hover img {
  left: 0 !important;
}

/* Splash Page
--------------------------------------------------------------------------------*/
.splash-page .page-content-wrapper, #splash-content-wrapper {
	height:100%;
	overflow: hidden;
}

.splash-page .wsite-background {
	background: url(splash-bg.jpg) no-repeat center;
	background-size:cover;
}

.splash-page .page-content {
	background-image: linear-gradient( $HeaderBannerGradient);
	background-image: -moz-linear-gradient( $HeaderBannerGradient);
    background-image: -webkit-linear-gradient( $HeaderBannerGradient);
    background-image: -ms-linear-gradient( $HeaderBannerGradient);
	background-size:cover;
	height: 100%;
}

.splash-page #splash-wrap {
	display: table;
	vertical-align: middle;
	width: 100%;
	height: 100%;
  margin-top: -64px;
  padding-top: 65px;
  box-sizing: border-box;
}

.splash-page .splash-content {
	display: table-cell;
	vertical-align:middle;
	color:#fff;
}

.splash-content h2 {
	font-size: 2.75em;
	color:#fff;
	font-family: 'Futura';
	font-weight:500;
	text-transform:uppercase;
}

.splash-content h3 {
	font-size: 1.66em;
	color:#fff;
	font-family: 'Futura';
	font-weight:500;
	line-height:1;
	text-transform:uppercase;
}

.splash-content .wsite-button {
	background:rgba(255,255,255,0) !important;
	text-transform:uppercase;
	color:#fff !important;
	border:2px solid #fff;
}

.splash-content .wsite-button:hover, .splash-content .wsite-button:active {
	background: rgba(255, 255, 255, 0.349) !important;
}

/* Highlighted styles */
.splash-content .wsite-button-highlight {
	background: none !important;
	border:none !important;
}

.splash-content .wsite-button-highlight {
	background: #fff !important;
	border:none !important;
	color: $NormalColor !important;
}
.splash-content .wsite-button-highlight:hover, .splash-content .wsite-button-highlight:active {
	background: rgba(255, 255, 255, 0.651);
	border:none !important;
	color:$NormalColor !important;
}

.splash-page #footer-wrap {
	display:none;
}

/* Blog Page
--------------------------------------------------------------------------------*/
.blog-post .blog-header {
	margin-bottom:15px !important;
}

.blog-header h2, .blog-post .blog-header h2.blog-title {
  font-size: 1.5em;
  line-height: 1 !important;
  margin: 0 0 .5em !important;
}

.blog-header h2 a {
	color:#000;
	margin-bottom:10px !important;
	display:block;
}

.blog-post .blog-date {
    font-size:15px;
}

.blog-post .blog-comments {
    float: left;
    font-size:15px;
	border-left:1px solid #999;
	padding-left: 9px !important;
}

#commentAreaTitle {
    font-weight: 400;
	font-sze:22px;
	line-height:24px;
	font-family: 'Oxygen', sans-serif;
    margin: 10px 0 20px;
    padding: 0;
}

.blog-sidebar h2 {
	color:#333;
	font-size:22px;
	line-height:26px;
	font-weight:400;
}

.blog-sidebar p {
	color:#666;
	font-size:16px;
	line-height:26px;
}

.blog-archive-list a {
	border-radius:6px;
	background:#ebebeb;
	height: 30px;
	line-height:30px;
	color:#666666;
	display:block;
	font-size:16px;
	padding:0px 15px;
	margin-bottom:10px;
}

.blog-archive-list br {
	display:none;
}

.blog-separator { display:none; }

.blogCommentAuthor, .blogCommentHeadingInner, .blogCommentHeading {
	background:none !important;
}

.blogCommentWrap {
	background:none !important;
}

.blogCommentHeading {
	margin-bottom:0px;
}

.blogCommentHeading .blogCommentDate {
    color: #999 !important;
	float: left;
	font-size: .75em;
    line-height: 34px;
    padding: 0 9px 0 10px;
}

.wsite-theme-dark .blogCommentHeading .blogCommentAuthor span.name, .wsite-theme-dark .blogCommentHeading .blogCommentAuthor a.name,
.blogCommentHeading .blogCommentAuthor span.name, .blogCommentHeading .blogCommentAuthor a.name {
	color: $NormalColor !important;
	text-shadow:none !important;
	font-size:18px !important;
	line-height:30px !important;
	font-weight:400 !important;
}

.blogCommentText p {
    color: #999 !important;
	font-size:16px;
	line-height:26px;
}

.blog-button {
	color: #fff !important;
	font-family:'Oxygen', sans-serif;	
    height: auto;
	line-height: 1;
	display: block;
	font-size:13px ;
	font-weight:400 ;
	text-decoration:none ;
	padding: 12px 22px;
	background: $NormalBtn;
	border-radius: 6px;
	text-transform:uppercase;
}

.blog-button span {
    background: none;
    float: left;
    height: 100%;
    margin: 0 0 0 7px;
}

.blogCommentReplyWrapper {
  height: 550px;
}

.blogCommentReplyWrapper iframe {
    height: 500px;
}

.blogCommentSubreplyWrapper div.iframeWrapper {
  background: #f9f9f9 !important;
  border: none !important;
}

#commentPostDiv {
  padding: 0 10px;
}

#commentPostDiv .field label {
    color: #999 !important;
	font-weight: 400;
	font-sze:16px;
	line-height:24px;
	font-family: 'Oxygen', sans-serif;
	margin: 0px;
}

#commentPostDiv .field input[type="text"] {
	font-family:'Oxygen', sans-serif; 
	font-size: ;
	color: ;
	background: #ebebeb !important;
	border:1px solid #ebebeb;
	padding: ;
	height:29px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius:4px ;
	outline:none;
}

#commentPostDiv .field textarea {
	font-family:'Oxygen', sans-serif; 
	font-size: ;
	color: ;
	background: #ebebeb !important;
	border:1px solid #ebebeb;
	padding: ;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius:4px ;
	outline:none;
}

/* Footer
--------------------------------------------------------------------------------*/

#footer-wrap {
	text-align:right;
	background:#e6e6e6;
	padding:30px 0px;
	line-height:24px;
}

#footer-wrap .container-box { font-size: .88em; }
#footer-wrap .container-box h2 { font-size: 1.25em; }
#footer-wrap .container-box p {}
#footer-wrap .container-box a {}
#footer-wrap .container-box blockquote {}

#footer-wrap .wsite-form-container {
	text-align:left;
}

/* Form Customization
--------------------------------------------------------------------------------*/

.formlist, .wsite-editor .formlist {
  min-height: 0 !important;
}


#main-wrap .wsite-form-field {
  padding-bottom: 10px;
}

.wsite-form-field {
  max-width: 500px;
}

.wsite-form-label, .form-radio-container label {
	display: inline-block;
	color: #626262;
	font-size: .9em;
	font-weight:400 !important;
	padding: 0px;
	margin-bottom: 5px;
}

.form-radio-container {
	color: ;
	font-size: ;
	font-family: ;
}

.form-required {
  color: $NormalColor;
  font-size: .9em !important;
}

.wsite-form-input, .wsite-search-element-input, .form-select, .jqTransformSelectWrapper {
  position: relative;
  width: 100% !important;
  box-sizing: border-box;
	font-size: .9em;
	color: #626262;
	background: #ebebeb;
	border: none;
	padding: 10px !important;
  line-height: 1;
	border-radius:4px ;
	outline:none;
}

.wsite-com-product-label ~ * {
  font-size: .9em;
}

.form-field-error .jqTransformCheckbox,
.form-field-error .jqTransformRadio{
	background-position: center bottom;
}

/* Custom Form: Radios */
.jqTransformRadioWrapper {
	float: left;
	display:block;
	margin: 1px 8px 0 0;
}

.jqTransformRadio {
	background: transparent url(radiobut-$Color.png) no-repeat left top;
	vertical-align: middle;
	width: 20px !important;
	height: 20px !important;
	background-size: 20px auto !important;
	display:block;/*display: -moz-inline-block;*/
	border-bottom:none;
}

.jqTransformRadio:hover, .jqTransformCheckbox:hover {
	border-bottom:none;
}

/* Custom Form: Checkboxes */
span.jqTransformCheckboxWrapper{
	display:block;
	float:left;
	margin: 1px 8px 0px 0px;
}
.jqTransformCheckbox {
	background: transparent url(checkbox-$Color.png) no-repeat  center top;
	vertical-align: middle;
	height: 19px;
	width: 19px;
    background-size: 20px auto !important;
	display:block;/*display: -moz-inline-block;*/
	border-bottom:none;
}

/* Custom Form: Checked - Used for both Radio and Checkbox */
.form-field-error a.jqTransformChecked,
a.jqTransformChecked { background-position: left bottom;}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(select.png) no-repeat center right ;
	border-bottom:none;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	top: 32px;
	left: 0;
	list-style: none;
	display: none;
	margin: 0px;
	padding: 0px;
	z-index:10;
  width: 100% !important;
  box-sizing: border-box;
	color: #626262;
	background: #ebebeb;
	border: none;
  line-height: 1;
	border-radius:4px ;
	outline:none;
  -webkit-box-shadow: 0 1px 1px 0 rgba(255,255,255,.8);
  box-shadow: 0 1px 1px 0 rgba(255,255,255,.8);
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 10px !important;
	margin:0px;
	text-decoration: none;
	background-color: none;
	border-bottom:none;
	color: #626262;
	font-weight: 400 !important;
}

.jqTransformSelectWrapper ul a.selected {
	background:none;
	color: #626262;
}

.jqTransformSelectWrapper ul a:active {
	background: none;
	color: #626262;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	color: #fff;
	background: #626262;
}

.jqTransformHidden {display: none;}
.jqTransformButton {display: none;}

/* Footer Form Customization
--------------------------------------------------------------------------------*/

#footer-wrap .wsite-form-label, #footer-wrap.form-radio-container label {
	color: #626262;
	margin-bottom: 2px;
}

#footer-wrap .wsite-form-input, #footer-wrap .wsite-search-element-input {
	background: #fff;
}

#footer-wrap .form-select {
	color: #626262 !important;
	background: #fff !important;
}

#footer-wrap .form-field-error .jqTransformCheckbox,
#footer-wrap .form-field-error .jqTransformRadio{
	background-position: center bottom;
}

#footer-wrap .jqTransformRadio {
	background: url(radio_footer-$Color.png) no-repeat left top;
}

#footer-wrap .jqTransformRadio:hover, #footer-wrap .jqTransformCheckbox:hover {
	border-bottom:none;
}

#footer-wrap .jqTransformCheckbox {
	background: url(checkbox_footer-$Color.png) no-repeat  center top;
}

/* Custom Form: Checked - Used for both Radio and Checkbox */
#footer-wrap .form-field-error a.jqTransformChecked,
#footer-wrap a.jqTransformChecked { background-position: left bottom;}


/* Custom Form: Selects */
#footer-wrap .jqTransformSelectWrapper {
	background: #fff !important;
}

#footer-wrap .jqTransformSelectWrapper ul {
	background-color: #fff;
	color: #626262;
}

#footer-wrap .jqTransformSelectWrapper ul a {
	background-color: none;
	border-bottom:none;
	color: #626262;
}

#footer-wrap .jqTransformSelectWrapper ul a.selected {
	background:none;
	color: #626262;
}

#footer-wrap .jqTransformSelectWrapper ul a:active {
	background: none;
	color: #626262;
}

#footer-wrap .jqTransformSelectWrapper ul a:hover, #footer-wrap .jqTransformSelectWrapper ul a.selected:hover {
	color:#fff ;
	background: #626262;
}

#footer-wrap .jqTransformHidden {display: none;}
#footer-wrap .jqTransformButton {display: none;}

/* Buttons
--------------------------------------------------------------------------------*/

/* Small structure & regular style */

.wsite-button {
	display: inline-block;
	padding: 0px;
  font-size: .8em !important;
	padding: .85em 1.5em;
	border-radius: 6px;
	max-width: 100%;
	background: $NormalBtn !important;
  height: auto !important;
	line-height: 1 !important;
  box-sizing: border-box;
}

.wsite-button-inner {
	color: #fff !important;
  background: none !important;
  padding: 0 !important;
	line-height: 1 !important;
	height: auto !important;
	font-family:'Oxygen', sans-serif;	
	display: block;
	font-size: 1em;
	font-weight:600;
	text-decoration:none ;
	text-transform:uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.wsite-button:hover, .wsite-button:active {
	background: $HoverBtn !important;
}

/* Large structure & regular style  */

.wsite-button-large {
	color: #fff;
	padding:0px ;
	font-weight:400 ;
	text-decoration:none ;
  font-size: 1em !important;
	padding: .85em 1.8em;
}

.wsite-button-large:hover .wsite-button-inner {
	background: $HoverBtn;
}

.wsite-button-large:active .wsite-button-inner {
	background: $HoverBtn;
}


/* Highlighted styles */

.wsite-button-highlight {
	background: none;
	background: #fff !important;
	border:2px solid $BorderHighlightNormal;
}

.wsite-button-highlight .wsite-button-inner {
	color: $TextHighlightNormal !important;
	font-family:'Oxygen', sans-serif;
	font-weight:400 ;
	text-decoration:none;
}

.wsite-button-highlight:hover, .wsite-button-highlight:active .wsite-button-inner {
	background: $BtnHighlightHover !important;
	border:2px solid $BorderHighlightHover;
}

.wsite-button-highlight:hover .wsite-button-inner, .wsite-button-highlight:active .wsite-button-inner {
	color:#fff !important;
}

/* Mobile layouts
--------------------------------------------------------------------------------*/

@media (max-width: 991px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  
  /* GENERAL */
   
  body {
    font-size: 13px;
  }
  
  .wsite-multicol-col {
    max-width: 100% !important;
    display: block;
    width: auto !important;
    margin: 0 auto 1em !important;
  }
  
  .container-box {
    padding: 0 1.5em;
  }
  
  .imageGallery > div, .imageGallery > div > div {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .galleryCaptionInnerText {
    display: none !important;
  }
  
  /* NAV */
  
  #header-wrap {
    padding: 15px 0 0;
  }
  
  #wsite-title {
    height: auto !important;
  }
  
  .page-sidebar-wrapper {
    padding-top: 23px;
  }
  
  #header label[for="nav-trigger"] span {
    display: none;
  }
  
  #close-nav label {
    width: 24px;
    height: 24px;
  }
  
  #header label[for="nav-trigger"]:after {
    width: 18px;
    height: 14px;
    background-size: 100% 100%
  }
  
  
  #header td {
  	vertical-align: middle;
  }
  
  /* HEADERS */
  
  #banner * {
    text-align: center !important;
  }
  
  h2, .splash-page h2 {
    font-size: 1.5em !important;
  }
  
  .landing-page.scrolled #header-banner, .tall-header-page #header-banner, .tall-header-page #header-banner-wrap {
    max-height: 320px;
  }
  
  .short-header-page #header-banner, .short-header-page #header-banner-wrap {
    max-height: 200px;
  }
  
  .no-header-page #header-wrap {
    padding-bottom: 15px;
  }
  
  /* FORMS */
  
  .jqTransformSelectWrapper ul {
    top: 28px;
  }
  
  .wsite-form-label, .form-radio-container label {
    line-height: 2;
  }
  
  /* STORE */
  
  .wsite-com-sidebar, #wsite-com-product-images {
    width: 100%;
    text-align: center;
    padding: 0;
    float: none;
  }
  
  .wsite-com-content-with-sidebar, #wsite-com-product-info.wsite-com-product-info-with-images  {
    margin-left: 0;
    padding: 0;
    clear: both;
  }

  #wsite-com-product-images-strip .wsite-com-product-images-secondary {
    margin-top: 0;
  }
  
  .wsite-com-product-price, .wsite-com-category-product-name {
    font-size: 1em;
    margin: 3px 0 0;
  }
  
  .wsite-com-product-label, .wsite-com-product-label ~ *, .wsite-com-product-label ~ .wsite-form-input, .wsite-com-product-label ~ .jqTransformSelectWrapper {
    display: block;
    width: 100% !important;
    margin-bottom: 5px !important; 
  }
  
  .wsite-com-content {
    padding: 0 !important;
  }
  
  .wsite-com-content-inner .wsite-com-category-subcategory-group .wsite-com-column, #wsite-com-category-product-group.wsite-com-category-product-featured-group .wsite-com-column, #wsite-com-product-list .wsite-com-category-product-group .wsite-com-column {
    width: 100% !important;
    height: auto !important;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .wsite-com-content-with-sidebar .wsite-com-category-subcategory-group {
    display: none;
  }
  
  #wsite-com-product-info.wsite-com-product-info-with-images {
    padding-top: 25px;
  }
  
  /* CART */ 
  .postload #wsite-mini-cart, .postload.open #wsite-mini-cart {
    position: fixed !important;
    bottom: 0 !important;
    top: auto !important;
    width: 100%;
    right: 0 !important;
    margin-top: -10px !important;
    border-radius: -8px !important;
  }
  
  #wsite-mini-cart .wsite-product-list {
    display: none !important;
  }
  
  
  /*  Checkout */

    #wsite-com-checkout-list .wsite-com-checkout-item-image, #wsite-com-checkout-summary-list .wsite-com-checkout-item-image {
      max-width: 50px;
      max-height: 50px;
      margin-right: 10px;
    }

    h2.wsite-checkout-header {
      padding-bottom: 0 !important;
    }
    #wsite-com-checkout-list .wsite-com-checkout-item-image, #wsite-com-checkout-summary-list .wsite-com-checkout-item-image {
      max-width: 50px;
      max-height: 50px;
      margin-right: 10px;
    }
    #wsite-com-checkout-list .wsite-com-checkout-item-details-inner, #wsite-com-checkout-summary-list .wsite-com-checkout-item-details-inner {
      padding-left: 0 !important;
    }
    #wsite-com-checkout-list {
      font-size: .75em !important;
    }
    .wsite-com-continue-shopping, button.wsite-button.wsite-button-large.wsite-button-highlight.wsite-checkout-button.wsite-com-paypal-checkout-button {
      font-size: .85em !important;
    }
    #wsite-com-checkout-list .wsite-form-input, #wsite-com-checkout-summary-list .wsite-form-input {
      width: 30px !important;
      margin: 0 10px !important;
      padding: 5px !important;
    }
    #wsite-com-checkout-list .wsite-remove-button, #wsite-com-checkout-summary-list .wsite-remove-button {
      top: 10px  !important;
    }
    .wsite-checkout-type .wsite-paypal {
      margin-left: 0;
      margin-top: 10px;
    }
    #wsite-com-checkout-payment > div {
      width: 100%;
    }
    #wsite-com-checkout-payment-order {
      margin: 0;
      padding: 15px;
    }

    .wsite-com-continue-shopping .caret {
      line-height: 2.35 !important;
    }

    #wsite-com-checkout .wsite-button-inner {
      font-size: 14px;
      line-height: 22px;
      padding: 5px 25px;
    }

    #wsite-com-checkout .wsite-button {
      margin-top: 0 !important;
    }
  
  /* BLOG */
  #blogTable tbody > tr > td {
    display: block !important;
  }
  
  .column-blog {
    width: 100%;
  }

  .blog-sidebar-separator {
    padding: 0;
  }
  .blogCommentText, .blogCommentHeading, .blogCommentHeading .blogCommentAuthor {
    padding: 0 !important;
  }
  .blogCommentLevel1 {
    margin-left:15px !important;
  }
  .blogCommentLevel2 {
    margin-left:30px !important;
  }
  .wsite-blog-post .blog-sidebar {
    display: none;
  }

}
