<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">        
		<layout class="org.apache.log4j.PatternLayout">            
			<param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} [%-5p] %c.%M(%L) | %m%n" />
		</layout>       
	</appender>     
	
	<appender name="rollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/NexTransfer/src/main/webapp/WEB-INF/logs"/>
		<param name="DatePattern" value="yyyyMMdd'.log'" />
		<param name="Append" value="true" />
		<param name="ImmediateFlush" value="true"/>
		  	<layout class="org.apache.log4j.PatternLayout">
		   		<param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} [%-5p] %c.%M(%L) | %m%n" />
		  	</layout>
	</appender>        
	
	<logger name="org.springframework.jdbc">        
		<level value="ERROR"/>        
		<appender-ref ref="console"/>    
		<appender-ref ref="rollingFile"/>    
	</logger>
	             
	<logger name="com.mimul">        
		<level value="ERROR"/>        
		<appender-ref ref="console"/>        
		<appender-ref ref="rollingFile"/>    
	</logger>    

	<logger name="org.apache.struts">        
		<level value="ERROR"/>        
		<appender-ref ref="console"/>        
		<appender-ref ref="rollingFile"/>    
	</logger>          	
	
	<logger name="jdbc.sqlonly" additivity="false">		
		<level value="INFO" />		
		<appender-ref ref="console" />		
		<appender-ref ref="rollingFile"/>	
	</logger>	
	
	<logger name="jdbc.sqltiming" additivity="false">		
		<level value="INFO" />		
		<appender-ref ref="console" />		
		<appender-ref ref="rollingFile"/>	
	</logger>	
	
	<logger name="log4jdbc.debug" additivity="false">		
		<level value="INFO" />		
		<appender-ref ref="console" />		
	</logger>	

	<logger name="jdbc.audit" additivity="false">		
		<level value="ERROR" />		
		<appender-ref ref="console" />		
		<appender-ref ref="rollingFile"/>	
	</logger>
		
	<logger name="jdbc.resultset" additivity="false">		
		<level value="ERROR" />		
		<appender-ref ref="rollingFile" />		
	</logger>
	
	<root>		
		<level value="INFO" />		
		<appender-ref ref="console" />		
		<appender-ref ref="rollingFile"/>	
	</root> 
	
</log4j:configuration>
